<!DOCTYPE html>
<html>
<head>
    <title>Users list</title>
</head>
<body>
    <h1>User Data List</h1>
    <ul>
        {% for user in users_data %}
            <li>
                <strong>Login:</strong> {{ user.login }}<br>
                <strong>Email:</strong> {{ user.email }}<br>
                <strong>Password:</strong> {{ user.password }}
            </li>
            <br>
        {% endfor %}
    </ul>
    <a href="{% url 'base:generate_users' %}">Generate users (10)</a>
</body>
</html>
